{% extends "internal-base.html" %}
<!--  -->
{% block page_header %} {% include 'base/page-header.html' with page_title=doctor.name %}
<!--  -->
{% endblock page_header %}
<!--  -->
{% block page_body %}
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="doctor-profile-img mb30">
          <img
            src="{{ doctor.image.url}}"
            alt="Practice - Orthopaedic Surgeon Website Template"
            class="img-responsive"
          />
        </div>
        <div class="widget-dr-contact">
          <h3 class="widget-title">Contact Details</h3>
          <address>
            {% for address in addresses %}
            {{ address }}
            {% endfor %}
            <br />
          </address>
          {% for phone in phones %}
          <p class="call-no">{{ phone }}</p>
          {% endfor %}
          {% for email in emails %}
          <div class="email_text">{{ email }}</div>
          {% endfor %}
        </div>
        <div class="widget-clinic-hrs">
          <h3 class="widget-title">Clinic hours</h3>
          {% for schedule in schedules %}
          <p>{{ schedule.description }} :<strong> {{ schedule.start|time:"g:i A" }} to {{ schedule.end|time:"g:i A" }}</strong>
          </p>
          {% endfor %}
        </div>
        <div class="widget-story">
          <h3 class="widget-title">Read stroy</h3>
          <ul class="listnone">
            <li><a href="/blogs/">blogs.rebwarallaf.com/dr-rebwar</a></li>
          </ul>
        </div>
        <div class="dr-social">
          <h3 class="widget-title">active on Social</h3>
          <div class="contact-social">
            <ul>
              <li>
                <a href="#"> <i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="#"> <i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"> <i class="fa fa-google-plus"></i></a>
              </li>
              <li>
                <a href="#"> <i class="fa fa-linkedin"></i></a>
              </li>
              <li>
                <a href="#"> <i class="fa fa-youtube"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <a href="#" class="btn btn-primary">request a consultation</a>
      </div>
      <div class="col-lg-offset-1 col-lg-7 col-md-offset-1 col-md-7 col-sm-8 col-xs-12">
        <div class="dr-header">
          <h1 class="dr-name">{{ doctor.name }}</h1>
          <span class="dr-meta">MBBS(Hons), BSc(Hons), FRCS(Tr &amp; Orth)</span>
        </div>
        <p class="lead">{{ doctor.description }}</p>
        {{ doctor.journey|safe}}
        
        {% for item in resume %}
        <div class="dr-profile-block">
          <div class="dr-profile-icon"><i class="{{ item.icon }}"></i></div>
          <div class="dr-profile-content">
            <h3 class="dr-profile-title">{{ item.title }}</h3>
            {% for description in item.items %}
            <p>{{ description }}</p>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock page_body %}
