{% extends "internal-base.html" %}
<!--  -->
{% block page_header %} {% include 'base/page-header.html' with page_title=doctor.name %}
<!--  -->
{% endblock page_header %}
<!--  -->
{% block page_body %}
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="doctor-profile-img mb30">
          <img
            src="{{ doctor.image.url}}"
            alt="Practice - Orthopaedic Surgeon Website Template"
            class="img-responsive"
          />
        </div>
        <div class="widget-dr-contact">
          <h3 class="widget-title">Contact Details</h3>
          <address>
            Orthopaedic Clinic, Zeppelinstr 53
            <br />
            3970 Sydney NSW
          </address>
          <span class="call-no">1- 800-1234-567</span>
          <div class="email_text">info@orthopedic.com</div>
        </div>
        <div class="widget-clinic-hrs">
          <h3 class="widget-title">Clinic hours</h3>
          <p>Monday to Friday :<strong> 9.00 am to 4.00pm</strong></p>
          <p>Saturday : <strong> 11.00 am to 3.00pm</strong></p>
        </div>
        <div class="widget-story">
          <h3 class="widget-title">Read stroy</h3>
          <ul class="listnone">
            <li><a href="#">blog.martineorho.com</a></li>
            <li><a href="#">blog.martineorho.com</a></li>
          </ul>
        </div>
        <div class="dr-social">
          <h3 class="widget-title">active on Social</h3>
          <div class="contact-social">
            <ul>
              <li>
                <a href="#"> <i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="#"> <i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"> <i class="fa fa-google-plus"></i></a>
              </li>
              <li>
                <a href="#"> <i class="fa fa-linkedin"></i></a>
              </li>
              <li>
                <a href="#"> <i class="fa fa-youtube"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <a href="#" class="btn btn-primary">request a consultation</a>
      </div>
      <div class="col-lg-offset-1 col-lg-7 col-md-offset-1 col-md-7 col-sm-8 col-xs-12">
        <div class="dr-header">
          <h1 class="dr-name">Rebwar A. Allaf, MD.</h1>
          <span class="dr-meta">MBBS(Hons), BSc(Hons), FRCS(Tr &amp; Orth)</span>
        </div>
        <p class="lead">
          Dr. Rebwar A. Allaf is a partner at Orthopedic Clinic one of the world's leading orthopaedic surgeons.
        </p>
        <p>
          He has treated close to 500 Professional and Olympic athletes successfully. Dr.Martine is a Master Instructor
          with the Arthroscopy Associationof Australia. Aenean urna magna, lobortis in metus id, semper gravida nibh.
          Nullam in mi felis.
        </p>
        <p class="mb30">
          Mauris ut tellus a est giat egestas. Integer id luctus neque, vitaes secidunt eu, molestie suscipit.Aenean
          urna magna, lobortis in metus id, semper gravida nibh. Nullam in mi felisgiat. Integer id luctus neque, vitaes
          sem esem es sit amMauris ut tellus a est giat egestasInteger id luctus n es sit amet tincidunt eu, molestie
          suscipit.
        </p>
        <div class="dr-profile-block">
          <div class="dr-profile-icon"><i class="icon-mortarboard"></i></div>
          <div class="dr-profile-content">
            <h3 class="dr-profile-title">education</h3>
            <p>
              MBBS(Hons) BSc(Hons) FRCS(Tr &amp; Orth), He became an attending Orthopaedic surgeon at the Hospital for
              Special Surgery. Etiam sit amet magnulus ullam in congue lacus.
            </p>
          </div>
        </div>
        <div class="dr-profile-block">
          <div class="dr-profile-icon"><i class="icon-suitcase"></i></div>
          <div class="dr-profile-content">
            <h3 class="dr-profile-title">Experiance</h3>
            <p>
              Martine has 8 year experiance of Orthopadic Instituet Surgery as Professor. Ante sem, posuere massa
              lobortis id. Sed eu justo quis elit vehicula iaculi vel odio posuere erat accumsan tincidunt.
            </p>
          </div>
        </div>
        <div class="dr-profile-block">
          <div class="dr-profile-icon"><i class="icon-cup"></i></div>
          <div class="dr-profile-content">
            <h3 class="dr-profile-title">Achivement</h3>
            <p>
              Treated close to 500 Professional &amp; Olympic athletes successfully. Suspendisse condimentumis elit
              vehicula iaculis. Aliquam vel odio posuere eratamet gravida dui, vel ullamcorper metus.
            </p>
          </div>
        </div>
        <div class="dr-profile-block">
          <div class="dr-profile-icon"><i class="icon-light-bulb"></i></div>
          <div class="dr-profile-content">
            <h3 class="dr-profile-title">Special expertise</h3>
            <p>
              Hip &amp; knee replacement, Primary and Revision total joint surgery. ante Posuere massa lobortis id. Sed
              eu justo accumsan tincidunt. Sed sit amcorper metussuspendisse condimentum .
            </p>
          </div>
        </div>
        <div class="dr-profile-block">
          <div class="dr-profile-icon"><i class="icon-avatar"></i></div>
          <div class="dr-profile-content">
            <h3 class="dr-profile-title">Member of Foundation</h3>
            <p>
              Member &amp; Trustee for team of Australia Olympic Foundation. Ante sem, posuere massa lobortis id. Sed eu
              justo quis elit vehicula iaculi vel odio posuere erat accumsan tincidunt.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock page_body %}
