<div class="cta">
  <div class="container">
    <div class="row">
      <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
        <h1 class="cta-title">{{ book_an_appointment }}</h1>
        <p class="cta-text">{{ book_an_appointment_description|safe}}</p>
        <a href="#" class="btn btn-primary">{{ book_an_appointment }}</a>
      </div>
      <!-- link that opens popup -->

      <!-- form itself -->

      <!-- <div id="appointment-popup2" class="white-popup mfp-hide">
        <form id="appointment-form">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" required />

          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required />

          <button type="submit">Submit</button>
        </form>
      </div> -->
    </div>
  </div>
</div>
