{% load static %}
<!-- COMMENT: vendor_js_files comes from app.context_processors.vendor_files -->
<!-- frm off -->

<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- navigation scripts -->
<script src="{% static 'js/menumaker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/navigation.js' %}"></script>
<!-- Slider scripts -->
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/slider.js' %}"></script>
<!-- Calender date scripts -->
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/date.js' %}"></script>
<!-- Carousel Slider scripts -->
<script src="{% static 'js/testimonial.js' %}"></script>
<!-- Back to top script -->
<script src="{% static 'js/back-to-top.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery.magnific-popup.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/scripts.js' %}" type="text/javascript"></script>
