<div class="resources-block">
  {% if title %}
  <div class="section-title">
    <h1>{{ patient_resources }}</h1>
  </div>
  {% endif %}
  <div class="widget-resources">
    <ul class="listnone">
      <li>
        <a href="#"><i class="fontello-icon icon-2x icon-note"></i>{{ patients_form }}</a>
      </li>
      <li>
        <a href="#"><i class="fontello-icon icon-2x icon-avatar"></i>{{ your_first_visit }}</a>
      </li>
      <li>
        <a href="#"><i class="fontello-icon icon-2x icon-notepad"></i>{{ instruction_after_op }}</a>
      </li>
      <li>
        <a href="#"><i class="fontello-icon icon-2x icon-video-player"></i>{{ patients_education }}</a>
      </li>
    </ul>
  </div>
</div>
