<div class="share-button sharer inline">
  <button type="button" class="btn btn-success share-btn">Share</button>
  <div class="social top center networks-5">
    <!-- Facebook Share Button -->
    <a class="fbtn share facebook" href="https://www.facebook.com/sharer/sharer.php?u=url"
      ><i class="fa fa-facebook"></i
    ></a>

    <!-- Google Plus Share Button -->
    <a class="fbtn share gplus" href="https://plus.google.com/share?url=url"><i class="fa fa-google-plus"></i></a>

    <!-- Twitter Share Button -->
    <a class="fbtn share twitter" href="https://twitter.com/intent/tweet?text=title&amp;url=url&amp;via=creativedevs"
      ><i class="fa fa-twitter"></i
    ></a>

    <!-- Pinterest Share Button -->
    <a
      class="fbtn share pinterest"
      href="http://pinterest.com/pin/create/button/?url=url&amp;description=data&amp;media=image"
      ><i class="fa fa-pinterest"></i
    ></a>

    <!-- LinkedIn Share Button -->
    <a
      class="fbtn share linkedin"
      href="http://www.linkedin.com/shareArticle?mini=true&amp;url=url&amp;title=title&amp;source=url/"
      ><i class="fa fa-linkedin"></i
    ></a>
  </div>
</div>
