{% load static %}
<div class="space-medium bg-default">
  <!-- space-medium -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="doctor-profile-img">
              <a href="#" class="imghover"
                ><img
                  src="{% static 'images/Rebwar-Allaf-22.jpg' %}"
                  alt="Site - Orthopaedic Surgeon Website Template"
                  class="img-responsive"
              /></a>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="doctor-profile-info">
              <h2>{{doctor.name }}, {{ doctor.field }}.</h2>
              <p class="lead">
                {{ doctor.description }}
              </p>
              <!-- <p>
                He has treated close to 500 Professional and Olympic athletes successfully. Dr.Martine is a Master
                Instructor with the Arthroscopy Associationof Australia.
              </p> -->
              <a href="{{ doctor.get_absolute_url }}" class="btn btn-primary mb30">{{ view_profile_button }}</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="well bg-primary">
          <div class="feature">
            {% for item in resume %}
            <div class="feature-left">
              <div class="feature-icon"><i class="icon-cup"></i></div>
              <div class="feature-content">
                <h3 class="feature-title">{{ item.title }}</h3>
                {% for description in item.items %}
                <p class="feature-text">{{ description }}</p>
                {% endfor %}
              </div>
            </div>
            {% endfor %}
            <!-- <div class="feature-left">
              <div class="feature-icon"><i class="icon-light-bulb"></i></div>
              <div class="feature-content">
                <h3 class="feature-title">Special expertise</h3>
                <p class="feature-text">Hip &amp; knee replacement, Primary and Revision surgery.</p>
              </div>
            </div>

            <div class="feature-left">
              <div class="feature-icon"><i class="icon-avatar"></i></div>
              <div class="feature-content">
                <h3 class="feature-title">Member of Foundation</h3>
                <p class="feature-text">Member &amp; Trustee for team of Australia Olympic Foundation.</p>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
