<div class="space-medium">
    <!-- space-medium -->
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-2 col-lg-8 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-xs-12">
                <div class="section-title text-center">
                    <h1>Orthopaedic Patients Journey</h1>
                    <p>
                        Latest medical technology with the state of art medical facility to provide his patients the
                        best
                        possible outcome.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="step-block bg-default">
                    <div class="step-icon"><i class="icon-medical-records"></i></div>
                    <div class="step-content">
                        <h3 class="step-title">Consultation</h3>
                        <ul class="listnone">
                            <li>Medical History</li>
                            <li>Physical Examination</li>
                            <li>X-rays</li>
                            <li>Other Tests</li>
                        </ul>
                    </div>
                    <div class="step-number"><span class="step-circle">1</span></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="step-block bg-default">
                    <div class="step-icon"><i class="icon-stethoscope"></i></div>
                    <div class="step-content">
                        <h3 class="step-title">Find Right Surgery</h3>
                        <ul class="listnone">
                            <li>Holistic Approach</li>
                            <li>Age, Pain Level</li>
                            <li>Functional Impairment</li>
                            <li>Risk Factors</li>
                        </ul>
                    </div>
                    <div class="step-number"><span class="step-circle">2</span></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="step-block bg-default">
                    <div class="step-icon"><i class="icon-drugs-3"></i></div>
                    <div class="step-content">
                        <h3 class="step-title">Procedure</h3>
                        <ul class="listnone">
                            <li>Preparing for Surgery</li>
                            <li>Post Procedure</li>
                            <li>Procedure at time</li>
                        </ul>
                    </div>
                    <div class="step-number"><span class="step-circle">3</span></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="step-block bg-default">
                    <div class="step-icon"><i class="icon-wheelchair"></i></div>
                    <div class="step-content">
                        <h3 class="step-title">Follow-up Care</h3>
                        <ul class="listnone">
                            <li>Caring for Your Incision</li>
                            <li>Physical Activity</li>
                            <li>Follow-Up Visit</li>
                        </ul>
                    </div>
                    <div class="step-number"><span class="step-circle">4</span></div>
                </div>
            </div>
        </div>
    </div>
</div>