<div class="space-medium">
    <!-- space-medium -->
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-2 col-lg-8 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-xs-12">
                <div class="section-title text-center">
                    <h1>{{ opening.title}}</h1>
                    <p>{{ opening.description}}</p>
                </div>
            </div>
        </div>
        <div class="row">
        {% for journey in journeys %}
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="step-block bg-default">
                    <div class="step-icon"><i class="{{ journey.icon }}"></i></div>
                    <div class="step-content">
                        <h3 class="step-title">{{ journey.title }}</h3>
                        <ul class="listnone">
                            {% for detail in journey.journey_details.all %}
                            <li>{{ detail.text }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="step-number"><span class="step-circle">{{ journey.id }}</span></div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>