{% load static %}
<div class="space-medium">
  <!-- space-medium -->
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        {% include 'base/location-map.html' with title=True %}
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        {% include 'base/resources.html' with title=True %}
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <!--  -->
        {% include 'base/appointment-form.html' with title=True %}
      </div>
    </div>
  </div>
</div>
