{% load static %}
<div class="slider owl-carousel">
  {% for slide in slides %}
  <div class="slider-img">
    <!-- slider-img -->
    <a href="#"><img src="{{ slide.image.url }}" alt="{{slide.title}}" class="img-responsive" /></a>
    <div class="container">
      <div dir="auto" class="row">
        <div class="col-lg-6 col-md-4 col-sm-6 col-xs-9 slider-captions-ltr">
          <!--  col-lg-offset-3 -->
          <div class="slider-captions">
            <!-- slider-captions -->
            <h3 class="slider-title">{{slide.title |safe }}</h3>
            <p class="slider-text hidden-sm hidden-xs">
              {{slide.description}}
            </p>
            <a href="#" class="btn btn-default hidden-xs">{{ make_appointment }}</a>
          </div>
          <!-- /.slider-captions -->
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  <!-- /.slider-img -->
</div>
