{% load static %}

<div class="space-medium bg-primary">
    <!-- space-medium -->
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="section-title">
                    <h1 class="text-white">Patients, What say about us</h1>
                </div>
                <div class="well-section">
                    <div class="testimonial owl-carousel">
                        <div class="testimonial-block">
                            <div class="testimonial-icon"><i class="icon-icon"></i></div>
                            <div class="testimonial-content">
                                <p class="testimonial-text">
                                    I am so very thankful to have found Dr. Martine to have a total hip replacement at
                                    40 was
                                    difficult to understand and digest. But Staff did a wonderful job helping me
                                    understand my
                                    treatment.
                                </p>
                                <div class="testimonial-info">
                                    <div class="testimonial-meta">
                                        <span class="testimonial-name">Charish Baill, </span>
                                        <span class="testimonial-country">Australia </span>
                                    </div>
                                    <div class="testimonial-support-doctor">Dr Martine K. Slippon</div>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-block">
                            <div class="testimonial-icon"><i class="icon-icon"></i></div>
                            <div class="testimonial-content">
                                <p class="testimonial-text">
                                    I am so very thankful to have found Dr. Martine to have a total hip replacement at
                                    40 was
                                    difficult to understand and digest. But Staff did a wonderful job helping me
                                    understand my
                                    treatment.
                                </p>
                                <div class="testimonial-info">
                                    <div class="testimonial-meta">
                                        <span class="testimonial-name">Charish Baill, </span>
                                        <span class="testimonial-country">Australia </span>
                                    </div>
                                    <div class="testimonial-support-doctor">Dr Martine K. Slippon</div>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-block">
                            <div class="testimonial-icon"><i class="icon-icon"></i></div>
                            <div class="testimonial-content">
                                <p class="testimonial-text">
                                    I am so very thankful to have found Dr. Martine to have a total hip replacement at
                                    40 was
                                    difficult to understand and digest. But Staff did a wonderful job helping me
                                    understand my
                                    treatment.
                                </p>
                                <div class="testimonial-info">
                                    <div class="testimonial-meta">
                                        <span class="testimonial-name">Charish Baill, </span>
                                        <span class="testimonial-country">Australia </span>
                                    </div>
                                    <div class="testimonial-support-doctor">Dr Martine K. Slippon</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="section-title">
                    <h1 class="text-white">Patients Educations Videos</h1>
                </div>
                <div class="well-section">
                    <div class="video-block">
                        <div class="video-area">
                            <p>
                                Our Orthopadic surgon provides educations video to new patient for Acknowledgement &amp;
                                Awarness.
                            </p>
                            <div class="video-img-block">
                                <a href="#" class="imghover"> <img src="{% static 'images/video-img.jpg' %}"
                                        alt="" class="video-img" /></a>
                                <div class="video-sign">
                                    <a href="#" class="video-link">Watch Video <span><img
                                                src="{% static 'images/play-sign.png' %}" alt=""
                                                class="" /></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>