<div class="space-medium">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <h1>Get in Touch with us</h1>
        <p>
          Please contact Orthopaedic Clinic with any questions or comments you may Contact for each area is located on
          those service-specific pages.
        </p>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
        <div class="row">
          <div class="col-md-6">
            <div class="contact-feature">
              <span class="contact-icon"> <i class="icon-placeholder icon-1x"></i></span>
              <div class="contact-detail">
                <h3 class="contact-title">Orthopaedic Address</h3>
                <span class="address_text"
                  >Orthopaedic Clinic, Zeppelinstr 53<br />
                  3970 SYDNEY NSW</span
                >
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="contact-feature">
              <span class="contact-icon"> <i class="icon-phone-call-3 icon-1x"></i></span>
              <div class="contact-detail">
                <h3 class="contact-title">Contact Numbers</h3>
                <span class="phone_text"
                  >1- 800-1234-567 <br />
                  1- 800-1234-568</span
                >
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="contact-feature">
              <span class="contact-icon"> <i class="icon-mail-4 icon-1x"></i></span>
              <div class="contact-detail">
                <h3 class="contact-title">Email Address</h3>
                <span class="email_text">info@orthopedic.com</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="contact-feature">
              <span class="contact-icon"> <i class="icon-share icon-1x"></i></span>
              <div class="contact-detail">
                <h3 class="contact-title">Be Social</h3>
                <div class="contact-social">
                  <ul>
                    <li>
                      <a href="#"> <i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                      <a href="#"> <i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="#"> <i class="fa fa-google-plus"></i></a>
                    </li>
                    <li>
                      <a href="#"> <i class="fa fa-linkedin"></i></a>
                    </li>
                    <li>
                      <a href="#"> <i class="fa fa-youtube"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
