<div class="card-body p-0">
    darya top
    <div class="table-responsive scrollbar">
      <table class="table table-sm mb-0 fs-10 table-view-tickets">
        <thead class="bg-body-tertiary">
          <tr>
            <th class="py-2 fs-9 pe-2" style="width: 28px;">
              <div class="form-check d-flex align-items-center"><input class="form-check-input" id="checkbox-bulk-table-tickets-select" type="checkbox" data-bulk-select='{"body":"table-ticket-body","actions":"table-ticket-actions","replacedElement":"table-ticket-replace-element"}' /></div>
            </th>
            <th class="text-800 sort align-middle ps-2" data-sort="client">Client</th>
            <th class="text-800 sort align-middle" data-sort="subject" style="min-width:15.625rem">Subject</th>
            <th class="text-800 sort align-middle" data-sort="status">Status</th>
            <th class="text-800 sort align-middle" data-sort="priority">Priority</th>
            <th class="text-800 sort align-middle text-end" data-sort="agent">Agent</th>
          </tr>
        </thead>
        <tbody class="list" id="table-ticket-body">
          <tr>
            <td class="align-middle fs-9 py-3">
              <div class="form-check mb-0"><input class="form-check-input" type="checkbox" id="table-view-tickets-0" data-bulk-select-row="data-bulk-select-row" /></div>
            </td>
            <td class="align-middle client white-space-nowrap pe-3 pe-xxl-4 ps-2">
              <div class="d-flex align-items-center gap-2 position-relative">
                <h6 class="mb-0"><a class="stretched-link text-900" href="../../app/support-desk/contact-details.html">Emma Watson</a></h6>
              </div>
            </td>
            <td class="align-middle subject py-2 pe-4"><a class="fw-semi-bold" href="../../app/support-desk/tickets-preview.html">Synapse Design #1125</a></td>
            <td class="align-middle status fs-9 pe-4"><small class="badge rounded badge-subtle-success false">Recent</small></td>
            <td class="align-middle priority pe-4">
              <div class="d-flex align-items-center gap-2">
                <div style="--falcon-circle-progress-bar:100"><svg class="circle-progress-svg" width="26" height="26" viewBox="0 0 120 120">
                    <circle class="progress-bar-rail" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke-width="12"></circle>
                    <circle class="progress-bar-top" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke="#e63757" stroke-width="12"></circle>
                  </svg></div>
                <h6 class="mb-0 text-700">Urgent</h6>
              </div>
            </td>
            <td class="align-middle agent"><select class="form-select form-select-sm w-auto ms-auto" aria-label="agents actions">
                <option>Select Agent</option>
                <option selected="selected">Anindya</option>
                <option>Nowrin</option>
                <option>Khalid</option>
              </select></td>
          </tr>

        </tbody>
      </table>
      <div class="text-center d-none" id="tickets-table-fallback">
        <p class="fw-bold fs-8 mt-3">No ticket found</p>
      </div>
    </div>
    darya bottom
  </div>