{% load i18n %}
<div class="card overflow-hidden">
{% if app_list %}

{% for app in app_list %}
<div class="table-responsive scrollbar app-{{ app.app_label }} module{% if app.app_url in request.path|urlencode %} current-app{% endif %}">
  <table class="table table-sm mb-4 fs-10 table-view-tickets">
    {% comment %} <caption>
      <a
        href="{{ app.app_url }}"
        class="section"
        title="{% blocktranslate with name=app.name %}Models in the {{ name }} application{% endblocktranslate %}"
        >{{ app.name }}</a
      >
    </caption> {% endcomment %}
    <thead class="bg-body-tertiary">
      <div class="card-header px-4 bg-light  border-bottom">
        <a href="{{ app.app_url }}">
          <h5 class="mb-2 hover-primary">{{ app.name }}</h5>
        </a>
      </div>
    </thead>
    <tbody class="list" id="table-ticket-body">
      <tr>
        <td class="align-middle fs-9 py-3">
          <div class="form-check mb-0"><input class="form-check-input" type="checkbox" id="table-view-tickets-0" data-bulk-select-row="data-bulk-select-row" /></div>
        </td>
        <td class="align-middle client white-space-nowrap pe-3 pe-xxl-4 ps-2">
          <div class="d-flex align-items-center gap-2 position-relative">
            <h6 class="mb-0"><a class="stretched-link text-900" href="../../app/support-desk/contact-details.html">Emma Watson</a></h6>
          </div>
        </td>
        <td class="align-middle subject py-2 pe-4"><a class="fw-semi-bold" href="../../app/support-desk/tickets-preview.html">Synapse Design #1125</a></td>
        <td class="align-middle agent"><select class="form-select form-select-sm w-auto ms-auto" aria-label="agents actions">
            <option>Select Agent</option>
            <option selected="selected">Anindya</option>
            <option>Nowrin</option>
            <option>Khalid</option>
          </select></td>
      </tr>

    </tbody>
  </table>
  <div class="text-center d-none" id="tickets-table-fallback">
    <p class="fw-bold fs-8 mt-3">No ticket found</p>
  </div>
</div>
{% endfor %} 
{% else %}
<p>{% translate 'You don’t have permission to view or edit anything.' %}</p>
{% endif %}
</div>

