{% load i18n %}
<div class="card overflow-hidden">
{% if app_list %}

{% for app in app_list %}
  <div class="table-responsive scrollbar fs-10">
                <table class="table table-striped border-bottom">
                 {% comment %} <caption>
      <a
        href="{{ app.app_url }}"
        class="section"
        title="{% blocktranslate with name=app.name %}Models in the {{ name }} application{% endblocktranslate %}"
        >{{ app.name }}</a
      >
    </caption> {% endcomment %}
                  <thead data-bs-theme="light">
                    <div class="bg-primary dark__bg-1000 px-3 py-2">
                      
                       <a href="{{ app.app_url }}" class="text-white uppercase">{{ app.name }}</h5></a>
                 
                      
                    </div>
                  </thead>
                  <tbody>
                  {% for model in app.models %}
                    <tr>
                    {% if model.admin_url %}
                    <th class="align-middle" scope="row">
        <a href="{{ model.admin_url }}" 
        {% if model.admin_url in request.path|urlencode %}aria-current="page" {% endif %}>
        <h6 class="mb-0 text-nowrap">{{ model.name }}</h6>
        </a>
      </th>
      {% else %}
      <th scope="row">{{ model.name }}</th>
      {% endif %}
    {% if model.add_url %}
    <td class="align-middle text-end">
    <a class="badge border link-primary p-xl me-2  text-decoration-none fs-10" 
    href="{{ model.add_url }}">{% translate 'Add' %}</a>
      
      {% endif %}
      {% if model.admin_url and show_changelinks %} 
      {% if model.view_only %}
      <a class="badge border link-primary p-xl me-2  text-decoration-none fs-10"
      href="{{ model.admin_url }}" 
      >{% translate 'View' %}</a>
     
      {% else %}
        <a class="badge border link-primary p-xl me-2  text-decoration-none fs-10"
        href="{{ model.admin_url }}"
          >{% translate 'Change' %}</a>
      </td>
      {% endif %} {% elif show_changelinks %}
      <td></td>
      {% endif %}
    </tr>
    {% endfor %}
                     
                    </tr>

                  </tbody>
                </table>
              </div>
{% endfor %} 
{% else %}
<p>{% translate 'You don’t have permission to view or edit anything.' %}</p>
{% endif %}
</div>

