{% load i18n static %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:'en-us' }}" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr,auto' }}">
<head>
<title>{% block title %}{% endblock %}</title>
{% comment %} <link rel="stylesheet" href="{% block stylesheet %}{% static 'admin/css/base.css' %}{% endblock %}"> {% endcomment %}
{% block dark-mode-vars %}
  <!-- <link rel="stylesheet" href="{% static 'admin/css/dark_mode.css' %}"> -->
  <!-- <script src="{% static 'admin/js/theme.js' %}" defer></script> -->
{% endblock %}
{% if not is_popup and is_nav_sidebar_enabled %}
  {% comment %} <link rel="stylesheet" href="{% static 'admin/css/nav_sidebar.css' %}"> {% endcomment %}
  {% comment %} <script src="{% static 'admin/js/nav_sidebar.js' %}" defer></script> {% endcomment %}
{% endif %}
{% block extrastyle %}{% endblock %}
{% if LANGUAGE_BIDI %}
{% comment %} <link rel="stylesheet" href="{% block stylesheet_rtl %}{% static 'admin/css/rtl.css' %}{% endblock %}"> {% endcomment %}
{% endif %}
{% block extrahead %}{% endblock %}
{% block responsive %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE">{% endblock %}

{% include './includes/x_css.html' %}

</head>

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}"
  data-admin-utc-offset="{% now 'Z' %}">
{% comment %} <a href="#content-start" class="skip-to-content-link">{% translate 'Skip to main content' %}</a> {% endcomment %}
<main class="main" id="top">
<!-- Container -->
<div class="container" data-layout="container">
 <script>
        var isFluid = JSON.parse(localStorage.getItem('isFluid'));
        if (isFluid) {
          var container = document.querySelector('[data-layout]');
          container.classList.remove('container');
          container.classList.add('container-fluid');
        }
      </script>
    {% if not is_popup %}
    {% block messages %}
    {% if messages %}
      <ul class="messagelist">{% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
      {% endfor %}</ul>
    {% endif %}
  {% endblock messages %}
    <!-- Header -->
    {% block header %}
    {% block nav-content %}
        {% include './includes/x_nav.html' %}
    {% endblock %}
        <div class="content pb-0">
          
          {% include './includes/x_second_nav.html' %}
          {% comment %} <div class="card px-lg-4" style="min-height: 75vh;"> {% endcomment %}
            {% block nav-breadcrumbs %}
            {% block breadcrumbs %}
            {% endblock %}
            {% endblock %}
            {% block content %}
            {% include './includes/x_starter_card.html' %}
          {% endblock content %}
        {% comment %} </div> {% endcomment %}
       <footer class="footer">
          <div class="row g-0 justify-content-between fs-10 mt-4 mb-3">
            <div class="col-12 col-sm-auto text-center">
              <p class="mb-0 text-600">Thank you for creating with Falcon <span class="d-none d-sm-inline-block">| </span><br class="d-sm-none" /> 2024 &copy; <a href="https://themewagon.com">Themewagon</a></p>
            </div>
            <div class="col-12 col-sm-auto text-center">
              <p class="mb-0 text-600">v3.20.0</p>
            </div>
          </div>
        </footer> 
      </div>
      {% include './includes/x_register_modal.html' %}
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->
    {% endblock %}
    {% endif %}
    <!-- SVGs -->
    {% comment %} {% include './includes/x_svgs.svg' %} {% endcomment %}
    <!-- END SVGs -->
    <!-- ================ Settings --><!-- ===================-->
    {% include './includes/x_settings_sidebar.html' %}
    <!-- =====================================================-->
    <!-- ================ JavaScripts--><!-- =================-->
    {% include './includes/x_vendors.html' %}
    <!-- =====================================================-->

    
</body>
</html>
