{% load i18n admin_urls %}
{% block object-tools-items %}


  <div class="d-flex align-items-center" id="table-ticket-replace-element">
          <div class="dropdown">
<button class="btn btn-sm btn-falcon-default dropdown-toggle dropdown-caret-none" type="button" 
            id="ticket-layout" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" 
            data-bs-reference="parent">
            <span class="d-none d-sm-inline-block d-xl-none d-xxl-inline-block me-1">Table View</span>
            <span class="fas fa-chevron-down" data-fa-transform="shrink-3 down-1"></span>
          </button>
            <div class="dropdown-menu dropdown-toggle-item dropdown-menu-end border py-2" aria-labelledby="ticket-layout">
              <a class="dropdown-item active" href="../../app/support-desk/table-view.html">Table View</a>
              <a class="dropdown-item" href="../../app/support-desk/card-view.html">Card View</a></div>
            </div>
          <button class="btn btn-falcon-default btn-sm mx-2" type="button">
            <span class="fas fa-plus" data-fa-transform="shrink-3"></span>
            {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
            <span class="d-none d-sm-inline-block d-xl-none d-xxl-inline-block ms-1">
            <a href="{% add_preserved_filters history_url %}">{% translate "History" %}</a>
            </span>
          </button>
          {% if has_absolute_url %}
          <button class="btn btn-falcon-default btn-sm" type="button">
            <span class="fas fa-external-link-alt" data-fa-transform="shrink-3"></span>
            <span class="d-none d-sm-inline-block d-xl-none d-xxl-inline-block ms-1">
            <a href="{{ absolute_url }}">{% translate "View on site" %}</a>
            </span>
          </button>
          {% endif %}
          <div class="dropdown font-sans-serif ms-2">
            <button class="btn btn-falcon-default text-600 btn-sm dropdown-toggle dropdown-caret-none" type="button" 
              id="preview-dropdown" data-bs-toggle="dropdown" data-boundary="viewport" aria-haspopup="true" aria-expanded="false">
              <span class="fas fa-ellipsis-h fs-11"></span>
            </button>
            <div class="dropdown-menu dropdown-menu-end border py-2" aria-labelledby="preview-dropdown">
              <a class="dropdown-item" href="#!">View</a>
              <a class="dropdown-item" href="#!">Export</a>
              <div class="dropdown-divider"></div>
                <a class="dropdown-item text-danger" href="#!">Remove</a>
              </div>
     </div>
        </div>
{% endblock %}