<div class="col-md-4 col-sm-12 col-xs-12">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="side-nav mb-30">
        <ul class="listnone sidenav">
          {% for menu in menu_items %} {% if menu.id == id %}
          <li class="active">
            <a href="{{ menu.get_absolute_url }}"
              ><i class="{{ menu.icon }} service-sidenav-icon "></i
              ><span class="sidenav-text">{{ menu.title }}</span></a
            >
          </li>
          {% else %}
          <li>
            <a href="{{ menu.get_absolute_url }}"
              ><i class="{{ menu.icon }} service-sidenav-icon "></i
              ><span class="sidenav-text">{{ menu.title }}</span></a
            >
          </li>
          {% endif %} {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
      {% include 'base/resources.html' %}
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
      <!--  -->
      {% include 'base/appointment-form.html' with widget_title=True %}
    </div>

    <!--  -->
    <div class="col-md-12 col-sm-12 col-xs-12">
      {% include 'base/location-map.html' %}
    </div>
  </div>
</div>
