{% load static %} {% load i18n %} {% get_current_language_bidi as LANGUAGE_BIDI %}
<div class="header">
  <!-- header -->
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <a href="/">
          {% if LANGUAGE_BIDI %}
          <img
            class="img-responsive"
            style="max-width: 30rem;"
            src="{% static 'images/logo-ar-light-01-01.svg' %}"
            alt="{{ site_title}}"
          />
          {% else %}
          <img
            class="img-responsive"
            style="max-width: 30rem;"
            src="{% static 'images/logo-en-light-01.svg' %}"
            alt="{{ site_title}}"
          />
          {% endif %}
        </a>
      </div>
      <div class="col-lg-9 col-md-8">
        <div id="navigation">
          <ul>
            {% for menu in menus %} {% if menu.submenus.all %}
            <li>
              <a href="{{ menu.link }}" title="{{ menu.name }}">{{ menu.name }}</a>
              <ul>
                {% for sub in menu.submenus.all %}
                <li><a href="{{ sub.link }}" title="{{ sub.title }}">{{ sub.name }}</a></li>
                {% endfor %}
              </ul>
            </li>
            {% else %}
            <li><a href="{{ menu.link }}" title="{{ menu.name }}">{{ menu.name }}</a></li>
            <li>
              {% endif %} {% endfor %}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
