{% load static %}
<div class="header">
  <!-- header -->
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
        <a href="/"><img src="{% static 'images/Logo-white-01-01.svg' %}"
            alt="Site - Orthopaedic Surgeon Website Template" /></a>
      </div>
      <div class="col-lg-8">
        <div id="navigation">
          <ul>
            {% for menu in menus %}
            {% if menu.submenus.all %}
            <li>
              <a href="{{ menu.link }}" title="{{ menu.name }}">{{ menu.name }}</a>
              <ul>
                {% for sub in menu.submenus.all %}
                <li><a href="{{ sub.link }}" title="{{ sub.title }}">{{ sub.name }}</a></li>
                {% endfor %}
              </ul>
            </li>
            {% else %}
            <li><a href="{{ menu.link }}" title="{{ menu.name }}">{{ menu.name }}</a>
            <li>
              {% endif %}
              {% endfor %}
              </ul>
        </div>
      </div>
    </div>
  </div>
</div>