{% load i18n %}

<div class="header-top">
  <!-- header-top -->
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 hidden-sm hidden-xs">
        <p class="welcome-msg">{% trans welcome_top_line %}</p>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="header-top-links">
          <span class="call-text hidden-sm hidden-xs">{{ top_phone }}</span>
          <span class="cta-text"><a href="#" class="btn btn-primary btn-xs">
              <!--  -->
              {% trans make_appointment %}
            </a></span>
          <span class="cta-text">
            {% get_current_language as CURRENT_LANGUAGE %} {% get_available_languages as AVAILABLE_LANGUAGES %}
            {% get_language_info for CURRENT_LANGUAGE as lang %}
            <div class="btn-group">
              <a
                href="#"
                data-toggle="dropdown"
                class="btn btn-default dropdown-toggle btn-xs"
                type="button"
                aria-expanded="false"
                >{% trans lang.name %} <span class="caret"></span
              ></a>
              <ul role="menu" class="dropdown-menu">
                {% for lang in AVAILABLE_LANGUAGES %}

                <li>
                  {% if lang.0 != CURRENT_LANGUAGE %}
                  <a
                    href="{% url 'set_language' %}"
                    onclick="event.preventDefault();document.getElementById('language-form-{{ lang.0 }}').submit();"
                  >
                    <!--  -->
                    {{ lang.1 }}
                  </a>
                  <form id="language-form-{{ lang.0 }}" action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ request.path }}" />
                    <input name="language" type="hidden" value="{{ lang.0 }}" />
                  </form>
                  {% else %}
                  <a href="#">
                    <strong>{{ lang.1 }}</strong>
                  </a>
                  <!-- Current language -->
                  {% endif %}
                </li>
                {% endfor %}
              </ul>
            </div>
          </span>
          <span class="search">
            <!-- Large modal -->
            <a href="#" class="" data-toggle="modal" data-target=".search-modal"><i class="fa fa-search"></i></a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
