{% extends "xadmin/xbase_site.html" %}
{% load i18n admin_urls static xadmin_modify %}

{% block extrahead %}{{ block.super }}
<script src="{% url 'admin:jsi18n' %}"></script>
{{ media }}
{% endblock %}

{% comment %} {% block extrastyle %}{{ block.super }}<link rel="stylesheet" href="{% static "admin/css/forms.css" %}">{% endblock %} {% endcomment %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}




{% if not is_popup %}
{% block breadcrumbs %}
<nav class="navbar bg-body-tertiary mb-4">
  <div class="container-fluid">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'admin:index' %}">{% translate 'Home' %}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'admin:app_list' app_label=opts.app_label %}"
      >{{ opts.app_config.verbose_name }}</a></li>
  {% if has_view_permission %}
   <li class="breadcrumb-item"> <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a></li>
  {% else %}
  <li class="breadcrumb-item">{{ opts.verbose_name_plural|capfirst }}</li>
  {% endif %}
  
  {% if add %}
  <li class="breadcrumb-item">{% blocktranslate with name=opts.verbose_name %}Add {{ name }}</li>
  {% endblocktranslate %}
  {% else %}
  <li class="breadcrumb-item">{{ original|truncatewords:"18" }}</li>
  {% endif %}
      </ol>
      {% block object-tools %}
      {% if change and not is_popup %}

      <ul class="list-group list-group-horizontal border-0">
          {% block object-tools-items %}
            {% change_form_object_tools %}
          {% endblock %}
      </ul>

      {% endif %}
      {% endblock %}
  </div>
</nav>
{% endblock %}
{% endif %}
<!-- ===============================================-->
{% block nav-content %}
{% include '../includes/x_nav.html' with app_list=available_apps  show_changelinks=True %}
{% endblock %}
<!-- ===============================================-->
{% block content %}<div class="px-lg-4 py-lg-4" id="content-main">

<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}{% if form_url %}action="{{ form_url }}" {% endif %}method="post" id="{{ opts.model_name }}_form" novalidate>{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1">{% endif %}
{% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}">{% endif %}
{% if save_on_top %}{% block submit_buttons_top %}{% submit_line %}{% endblock %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% blocktranslate count counter=errors|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktranslate %}
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}

{% block field_sets %}
{% for fieldset in adminform %}
  {% include "xadmin/includes/fieldset.html" %}
{% endfor %}
{% endblock %}

{% block after_field_sets %}{% endblock %}

{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}
{% endblock %}

{% block after_related_objects %}{% endblock %}

{% block submit_buttons_bottom %}{% submit_line %}{% endblock %}

{% block admin_change_form_document_ready %}
    <script id="django-admin-form-add-constants"
            src="{% static 'admin/js/change_form.js' %}"
            {% if adminform and add %}
                data-model-name="{{ opts.model_name }}"
            {% endif %}
            async>
    </script>
{% endblock %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

</div>
</form></div>
{% endblock %}
