{% extends "base.html" %}
<!--  -->
{% load static %}
<!--  -->
{% block base_content %}
<!-- /.header-wrapper -->
{% include './partials/sliders.html' %}
<!-- /.slider -->
{% include './partials/services.html' %}
<!-- /.space-medium -->
{% include './partials/featured.html' %}
<!-- /.space-medium -->
{% include './partials/journey.html' %}
<!-- /.space-medium -->
{% include './partials/testimonial.html' %}
<!-- /.space-medium -->
{% include './partials/resources.html' %}
<!-- /.space-medium -->
{% endblock base_content %}