{% extends "base.html" %}
<!--  -->
{% load static %}
<!--  -->
{% block landing_content %}
<div>
  <!-- /.header-wrapper -->
  {% include './partials/sliders.html' with slides=slides %}
  <!-- /.slider -->
  {% include './partials/services.html' with services=services opening=service_opening %}
  <!-- /.space-medium -->
  {% include './partials/featured.html' with doctor=doctor %}
  <!-- /.space-medium -->
  {% include './partials/journey.html' with journeys=journeys opening=journey_opening %}
  <!-- /.space-medium -->
  {% include './partials/testimonial.html' %}
  <!-- /.space-medium -->
  {% include './partials/resources.html' %}
  <!-- /.space-medium -->
</div>
{% endblock landing_content %}
