Django>4.1,<4.2
django-extensions
django-cors-headers
djangorestframework>=3.14
django-filter
psycopg2
psycopg2-binary
dj-database-url
Pillow
autopep8
six
pytz
tzlocal
django-split-settings
icecream
python-decouple
cryptography
uWSGI>=2.0.18,<2.1
gunicorn