Django>4.1,<4.2
django-extensions
django-cors-headers
djangorestframework>=3.14
django-subdomains
django-countries
django-storages
django-filter
psycopg2
dj-database-url
python-decouple
Pillow
stripe
boto3
gunicorn
cryptography
autopep8
six
pycryptodome
cachetools
pytz
pywin32
MSWinPrint
qrcode
relatorio
wmi
pandas
websockets
celery
tzlocal
django-celery-beat
celery-progress
django-split-settings
icecream
cryptography
daphne
channels_redis